<!-- <mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
   <form [formGroup]="form" (submit)="onSaveCustomer()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Customer Name</mat-label>
       <input matInput name="customerName" formControlName="customerName" type="text" required>
        <mat-error *ngIf="form.get('customerName').invalid">Please enter a Customer Name</mat-error>
    </mat-form-field>
	<mat-form-field>
		<mat-label>Customer Phone No</mat-label>
		<input matInput name="customerPhoneNo" formControlName="customerPhoneNo" type="text" required>
		<mat-error *ngIf="orderForm.get('customerPhoneNo').invalid">Please enter a Customer Phone No</mat-error>
	</mat-form-field>
  <mat-form-field>
    <mat-label>Customer Address</mat-label>
        <textarea matInput rows="6" name="customerAddress" formControlName="customerAddress" ></textarea>
<mat-form-field>
    <mat-label>Customer E-mail</mat-label>
        <input matInput name="customerEmail" formControlName="customerEmail" type="email" >
    
    </mat-form-field>
    
 <button mat-raised-button color="primary" type="submit" > {{editMode? 'Update' : 'Add'}} Customer</button>
    </form>
</mat-card> -->